In [1]:
import pandas as pd
import numpy as np

In [2]:
xls_2020 = pd.ExcelFile('../Data/Masterark_Data fa Find en Sø_2020.xlsx')
xls_2021 = pd.ExcelFile('../Data/Version 3_Vandprøver 2021 til web opdateret m koordinator og indberetninger uden prøve dec23.xlsx')
xls_2022 = pd.ExcelFile('../Data/Version 3_Vandprøver 2022 til web_opdateret m koordinater og indberetninger u prøve dec23.xlsx')
xls_2023 = pd.ExcelFile('../Data/Version 3b_CS Find en sø vandprøver_2023_masterark til web m koordinater og indberetninger u prøve jan24.xlsx')

In [8]:
df_2020 = pd.read_excel(xls_2020, 'Opdeling')
# There's a few sheets with lakes info: 'Sø' is another one which seems to include more?
df_2021 = pd.read_excel(xls_2021, 'Vandprøver 2021', header = 1)
df_2022 = pd.read_excel(xls_2022, 'Vandprøver 2022', header = 1)
df_2023 = pd.read_excel(xls_2023, 'Master', header = 1)

In [17]:
dfs = [df_2020, df_2021, df_2022, df_2023]
df_names = [str(x) for x in range(2020, 2024)]

In [22]:
for i, df in enumerate(dfs):
    print(f'Year {df_names[i]}\tcolumns: {df.shape[-1]}')

Year 2020	columns: 22
Year 2021	columns: 33
Year 2022	columns: 20
Year 2023	columns: 26

In [23]:
cols = []
for df in dfs:
    cols.extend(df.columns.tolist())
len(cols), len(set(cols))

(101, 66)

In [25]:
df_2020.head()

,Labnr.,Kode,TP(mg/L),TN(mg/L),Alkalinitet(meq/L),pH,Salinitet(mg/L),TOC(mg/L),CDOM (abs at 410 nm),SS(mg/L),...,Type,Naturlige vs. Menneskeskabte,Underopdeling,§3 beskyttet,Visuelt opland,Bemærkning,Areal i m2,Omkreds i meter,Unnamed: 20,Alder
0,44,27e5-95d3,0.5222,2.355,1.761318,8.92,198.8,22.23,0.019,21,...,Sø,Menneskeskabt,Regnvandsbassin,Ja,By,Sen registrering,3522.32,215.27,NaN,Orto 2016
1,51,63b8-274b,0.046459,2.467,2.662813,7.67,14.99,4.422,0.009,38,...,Sø,Menneskeskabt,Regnvandsbassin,Ja,By,NaN,9887.95,403.15,NaN,Historiske kort
2,55,1375-4988,0.014315,1.716,1.137771,7.87,182.8,14.35,0.005,u.d.,...,Sø,Menneskeskabt,Regnvandsbassin,Ja,By,"Sen registrering, tætteste vand er et regnvand...",NaN,NaN,NaN,NaN
3,56,CF5F-7F11,0.110598,0.9512,1.38878,8.6,275,4.085,0.015,12,...,Sø,Menneskeskabt,Regnvandsbassin,Nej,By,"Sen registrering, tætteste vand er et regnvand...",NaN,NaN,NaN,NaN
4,57,A553-EA25,1.165391,4.065,1.394225,7.01,142.9,14.57,0.051,59,...,Sø,Menneskeskabt,Regnvandsbassin,Ja,By,Samme sø som lab.nr. 193. moseområde/ådal,3202.8,220.14,NaN,Orto 1995

In [26]:
df_2021.head()

,Nr,Koder fra vandprøver,kode fra indberetning,dato på prøven,evt skole,evt Lokalitet,evt koordinater,evt Navn,evt Bemærkninger,Visuelt,...,Type,Areal ha,Naturlige vs. Menneskeskabte,Underopdeling,§3 beskyttet,Visuelt opland,Bemærkning,Unnamed: 30,Unnamed: 31,Unnamed: 32
0,15.0,c044-a-2610,0044-a-2610,2021-08-25 00:00:00,NaN,NaN,NaN,NaN,det var lyst med mange siv,"lidt bundfald, ellers klart.",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,213.0,0072-a-102,0072-a-162c,2021-10-24 00:00:00,NaN,NaN,NaN,NaN,NaN,"Klar lidt gullig, lidt partikler",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17.0,oob-a-8d2c,00b8-a-8d2c,2021-08-30 00:00:00,NaN,NaN,NaN,NaN,ingen,klar og farvløs,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FARVEBETYDNING
3,162.0,02c0-a-f85b,02c0-a-f35b,2021-10-08 00:00:00,NaN,Konghøj,NaN,NaN,NaN,"Få store partikler, klar",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Ingen indberetning - Eksisterer ikke i ""Lakes ..."
4,12.0,0543-a-e05d,0543-a-e05d,2021-08-30 00:00:00,NaN,Lille Ibjerg Sø,NaN,NaN,"taget i Lille Ibjerg Sø, hvor flere medlemmr a...",klar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Stemmer overens med ""Lakes færdig 2022"""

In [27]:
df_2022.head()

,Nr,Koder fra vandprøver,dato,Visuelt,Evt tekst på prøve (borgers bemærkning),Bemærkning (fra lab),TOC/mg/L,TN/mg/L,Alkalinitet meq/L,pH,Salinitet µS/cm,TP mg/L,TP stdev mg/L,CDOM 410 nm,SS mg/L,SS stdev mg/L,Org mg/L,Org stdev mg/L,Breddegrad,Længdegrad
0,1,Ingen,30.06.22,Vandet sort af mange partikler (bundfældende),Regnvandsbassin Hold 1,NaN,10.430,1.8840,3.454558,7.08,585.0,6.940337,0.083673,0.033,3600.00,100.00,2040.0,8.000000e+01,NaN,NaN
1,2,Ingen,30.06.22,Klart med få partikler,Koldings reneste sø Hold 1,NaN,6.344,0.6303,3.342868,7.97,488.0,0.053614,0.002492,0.017,5.00,5.00,15.0,8.673617e-14,NaN,NaN
2,3,Ingen,30.06.22,Klart med få partikler,Koldings reneste sø Hold 3,NaN,6.033,0.6142,3.255842,7.81,491.0,0.042815,0.000000,0.018,3.75,0.25,4.0,5.000000e-01,NaN,NaN
3,4,Ingen,30.06.22,Vandet sort af mange partikler (bundfældende),Regnvandsbassin Hold 3,NaN,9.550,2.4630,3.783290,7.06,595.0,9.301528,0.068539,0.069,2610.00,210.00,1460.0,1.200000e+02,NaN,NaN
4,5,Ingen,30.06.22,Klart med få partikler,Marielundsøen Hold 2,NaN,5.508,0.5761,2.449480,8.01,406.0,0.031184,0.001661,0.015,2.50,0.00,2.5,0.000000e+00,NaN,NaN

In [28]:
df_2023.head()

,Nr,Koder fra vandprøver,dato,evt skole,evt Lokalitet,evt koordinater,evt Navn,evt Bemærkninger,Visuelt (fra lab),Evt tekst på prøve/bemærkning,...,TP mg/L,CDOM 410 nm,SS mg/L,SS stdev mg/L,Org mg/L,Org stdev mg/L,Breddegrad,Længdegrad,Unnamed: 24,FARVEBETYDNING
0,128.0,1927-10-10 00:00:00,10.10.2023,NaN,NaN,NaN,NaN,NaN,"Uklar, lidt tåget",NaN,...,0.069,0.017,15.5,0.5,7.5,0.5,55.33089,10.448412,NaN,"Ingen indberetning - Eksisterer ikke i ""Lakes ..."
1,87.0,2059-09-15 00:00:00,15.09.2023,NaN,NaN,NaN,NaN,NaN,"Klar, med snegle+ vandpest",På den anden side af vej overfor fjernvarmeanlæg,...,0.481,0.030,24.0,0,16.0,2.0,55.456475,9.882242,NaN,"Stemmer overens med ""Lakes færdig 2023"""
2,121.0,2209-10-07 00:00:00,07.10.2023,NaN,NaN,NaN,NaN,NaN,"Klar, lidt små partikler",Høng v. hallen,...,0.060,0.014,15.666667,0.333333,5.333333,0,55.50859,11.298634,NaN,Fejl i kode - tilpasset efter indberetning (La...
3,118.0,2265-09-20 00:00:00,20.09.2023,NaN,NaN,NaN,NaN,NaN,"Klar, let gullig",Clear w/~ 1 m visibility. Ørsted park.,...,0.714,0.011,3.75,0.25,3.0,0,55.681261,12.565865,NaN,Sorteret efter denne kolonne
4,12.0,2276-08-03 00:00:00,03.08.23,NaN,NaN,NaN,NaN,NaN,"Klar, få partikler","Sø ved Svendborg naturskole, bøvlede v indsend...",...,0.045,0.007,3.5,0.0,2.5,0.5,55.06272,10.682425,NaN,Prøver der ikke er blevet lavet analyse på (in...